{% extends "layout.html" %}

{% block body %}
  <table>
    <ul>  
      <li>
Tämä sivusto on tarkoitettu henkilökohtaisten projektien aikataulujen seuraamiseen. Projekti voi tarkoittaa mitä tahansa töistä tai opiskeluista harrastuksiin ja henkilökohtaisiin tavoitteisiin. Voidaksesi käyttää sivustoa, sinun tulee ensin tehdä käyttäjä ja kirjautua sivulle. Sisään kirjautumisen jälkeen voit aloittaa projektin antamalla sille nimen, minkä jälkeen projekti ilmestyy sivuston projektilistaan. Projektilistan kautta voit muokata projektiasi, esimerkiksi merkitä projektin valmistuneeksi. Jokainen projekti on käyttäjän henkilökohtainen, eli jokaisella käyttäjällä on pääsy vain omiin projekteihinsa.
      </li>
      <li>    
Projektien työajan seuranta tapahtuu projektiin liittyvien työtehtävien avulla. Ajatuksena on, että jokainen projekti voidaan jakaa useisiin pieniin työtehtäviin, joilla jokaisella on nimi, työhön käytetty aika sekä tarkempi kuvaus tehdystä työstä. Työtehtävän kuvaukseen voi tehdä myös merkintöjä projektin etenemisestä. Jokaiseen projektiin liittyvät työtehtävät ja niiden tiedot on mahdollista saada näkyviin projektikohtaisesti. 
      </li>
      <li>    
Sivuston hyödyntämiseen on oikeastaan kaksi tapaa. Ensimmäinen on, että järjestelmään merkitään projektiin liittyvät työtehtävät sitä mukaa, kun projekti etenee, ja projektin valmistumisen jälkeen käyttäjä saa näkyviin projektin eteen tehdyt työt ja voi arvioida sitten tämän tiedon pohjalta, kuinka hyvin projektissa pysyttiin aikataulussa, mihin kului paljon aikaa, mikä oli helppoa ja sujui nopeasti ja mikä tuotti ongelmia. Näitä tietoja voi sitten hyödyntää seuraavaa projektiaan tehdessä.
      </li>
      <li>    
Toinen tapa on se, että sovellusta käyttääkin projektin suunnitteluvaiheessa apuna niin, että tekee ennakkoon aikataulun projektin toteutukselle. Tämä tarkoittaa sitä, että projektiin merkitään ennakkoon työtehtäviä, ja työtehtävälistaa käytetään sitten aikatauluna ja muistilistana, josta poistetaan tehdyt tehtävät sitä mukaa, kun ne valmistuvat. Projekti on valmis, kun kaikki sen osat on toteutettu ja projektin tehtävälista on tyhjä.
      </li>  
    </ul>
  </table>
{% endblock %}