{% extends "layout.html" %}

{% block body %}
  <table>
    <td>{{ projekti.name }}</td>
    <tr>
      <th>Tehtävä</th>
      <th>Kuvaus</th>
      <th>Tunnit</th>      
    </tr>  
    {% for tyotehtava in tyotehtavat %}
    <tr>
      <td>{{ tyotehtava.tehtava }}</td>
      <td>{{ tyotehtava.kuvaus }}</td>
      <td>{{ tyotehtava.tunnit }}</td>
      <td>
        <form method="POST" action="{{ url_for('muokkaa_tehtavaa', tyotehtava_id=tyotehtava.id, projekti_id = projekti.id) }}">
          <input type="submit" value="Muokkaa tehtävää"/>
        </form>
      </td>   
      <td>
        <form method="POST" action="{{ url_for('muokkaa_kuvausta', tyotehtava_id=tyotehtava.id, projekti_id = projekti.id) }}">
          <input type="submit" value="Muokkaa kuvausta"/>
        </form>
      </td> 
      <td>
        <form method="POST" action="{{ url_for('muokkaa_tunteja', tyotehtava_id=tyotehtava.id, projekti_id = projekti.id) }}">
          <input type="submit" value="Muokkaa tunteja"/>
        </form>
      </td>       
      <td>
        <form method="POST" action="{{ url_for('poista_tehtava', tyotehtava_id=tyotehtava.id, projekti_id = projekti.id) }}">
          <input type="submit" value="Poista työtehtävä"/>
        </form>
      </td>      
    </tr>
    {% endfor %}
  </table>
{% endblock %}
